footer#footer.text-white.p-5
	div.container
		div.row
			div.col
				p.lead.text-center Copyright &copy; 2017 Proyecto
script(src='/js/jquery.min.js')
script(src='/js/popper.min.js')
script(src='/js/bootstrap.min.js')